#error-wrapper {
  background: red;
  color: white;
  font-weight: bold;
  padding: 20px;
  z-index: 99;
  position: fixed;
  top: 200px;
  left: 50%;
  right: 50%;
  transition-duration: 0.3s;
}

.hide {
  display: none;
}

.show {
  display: table;
}
