#navbar-wrapper {
  /* background-color: rgb(37, 2, 2); */
  background-color: rgba(35, 65, 75, 0.7);
  padding: 5px 25px 2px 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

#navbar-title {
  color: rgb(255, 246, 189);
  display: inline-block;
  font-size: 35px;
  font-family: 'Lobster', cursive;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition-duration: 0.3s;
}

#navbar-title:hover {
  color: white;
}

#navbar-form {
  display: inline-block;
  margin-left: 35px;
}

#navbar-form-label {
  display: inline-block;
  font-size: 20px;
  color: rgb(175, 138, 58);
  font-weight: bold;
}

.navbar-inputs {
  display: inline-block;
  margin-left: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: rgb(175, 138, 58) 1px solid;
  background: transparent;
  color: rgb(255, 246, 189);
  font-weight: bold;
  width: 200px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

#navbar-submit-button {
  display: inline-block;
  font-weight: bold;
  color: rgb(202, 202, 202);
  margin-left: 25px;
  transition: 0.3s;
  background: transparent;
  border: none;
}

#navbar-submit-button:hover {
  color: white;
  cursor: pointer;
}

#sort-dropdown {
  margin-left: 20px;
  padding: 3px 6px;
  background: rgba(255, 255, 255, 0.5);
  color: rgb(36, 36, 36);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.modal {
  margin-top: 100px;
}

.error-text {
  color: rgb(77, 12, 12);
  background-color: rgb(255, 100, 126);
  border-radius: 5px;
}

.open-full-navbar {
  display: none;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: white;
  border: none;
  border-radius: 5px;
  padding: 0px 8px;
}
